<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title> Showan Simkhada | Developer </title>
        <link href="/protfolio/views/home/styles.css" rel="stylesheet">
    </head>
    <body>
        <!-- Nav Bar -->
        <div>
            <div>
                <h1> Showan Simkhada </h1>
                <p> Web | Software Developer </p>
            </div>
            <div>
                <p> <a href="#about" > About </a></p>
                <p> <a href="#experience" > Experience </a> </p>
                <p> <a href="#project" > Project </a> </p>
                <p> <a href="#prof" > Professional Development</a></p>
                <p> <a href="#interest" > Interest </a> </p>
            </div>
            <div>
                <p> GitHub </p>
                <p> LinkedIn </p>
            </div>
        </div>
        <main>
            <!-- About -->
            <div>
                <p>
                    Detail-oriented and highly motivated Web Developer with extensive experience in JavaScript,
                    React and .NET  framework. Adept at designing, developing and maintaining web applications
                    to enhance user experiences. Proven track record of delivering high-quality projects on time.
                    Seeking a full-time position in the IT and telecommunications industry to contribute to innovative
                    projects and drive technological advancements.
                </p>
            </div>
            <!-- Technical Skills -->
            <div>
                <ul>
                    <li>
                        Proficient:
                        <ul>
                            <li>Languages: JavaScript, TypeScript, HTML, CSS, Java</li>
                            <li>Framework: React, Node.js</li>
                            <li>Database: SQL, MongoDB</li>
                            <li>Tools: Git, Visual Studio</li>
                        </ul>
                    </li>
                    <li>
                        Intermediate:
                        <ul>
                            <li>Language: Python</li>
                            <li>Framework: Bootstrap, jQuery</li>
                            <li>Database: PostgreSQL</li>
                            <li>Tools: Bash</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Work History -->
            <div>
                <div>
                    <ul>
                        <li>
                            <div>
                                <p>Feb 2022 - Present</p>
                                <p>Process Worker</p>
                                <p>OP Columbia, Whitianga, New Zealand</p>
                                <p>Opened mussels and ensured high-quality standards.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Nov 2020 - Oct 2021</p>
                                <p>Courier Driver</p>
                                <p>Patialvi Enterprises Limited, Hamilton, New Zealand</p>
                                <p>Delivered goods accurately and promptly to specified destinations.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Jul 2019 - Nov 2020</p>
                                <p>Software Developer and General Support</p>
                                <p>Rennacs Limited, Hamilton, New Zealand</p>
                                <p>Designed and developed an application using the .NET framework.</p>
                                <p>Analysed business wellness trends and collected data for reverse engineering purposes.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Education -->
            <div>
                <ul>
                    <li>
                        <div>
                            <p>Graduate Diploma in Information Technology</p>
                            <p>Waikato Institute of Technology, Hamilton, New Zealand</p>
                            <p>2017 - 2018</p>
                            <ul>
                                <li>Grade: A</li>
                                <li>Relevant Cources:
                                    <ul>
                                        <li>Project Management</li>
                                        <li>Information System Essentials</li>
                                        <li>Oriented Programming</li>
                                        <li>Data Structures and Algorithms</li>
                                        <li>Game Development</li>
                                        <li>Principle of Software Testing</li>
                                        <li>Mobile Application Development</li>
                                        <li>Data Warehousing and Business Intelligence</li>
                                    </ul>
                                </li>
                                <li>GitHub Links for Assignments: <a href="https://github.com/showansimkhada/wintec.git">GitHub Link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Bachelor's degree in Science and Technology</p>
                            <p>Tri-Chandra College, Kathmandu, Nepal</p>
                            <p>2011 - 2016</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Completed High School (Year 12)</p>
                            <p>Pinnacle Academy H S School, Lalitpur, Nepal</p>
                            <p>2008 - 2011</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Project -->
            <div>
                <ul>
                    <li>
                        <p>Trends with React</p>
                        <ul>
                            <li>Description:</li>
                            <ul>
                                <li>
                                    Developed a web application to managemussel opening data,
                                    track financial activities and facilitate profile management.
                                </li>
                            </ul>
                            <li>
                                Technologies Used:
                                <ul>
                                    <li>
                                        Frontend: HTML, TypeScript, React
                                    </li>
                                    <li>
                                        Backend: Next.js
                                    </li>
                                    <li>
                                        Database: MongoDB
                                    </li>
                                    <li>
                                        Other tools: Git, GitHub, Vercel
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Features:
                                <ul>
                                    <li>
                                        Implemented CRUD operations for tracking mussel opening data.
                                    </li>
                                    <li>
                                        Developed modules to monitor financial activities such as expenses and revenue.
                                    </li>
                                    <li>
                                        Designed and integrated profile management functionalities for user interaction.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>GitHub Repository: <a href="https://github.com/showansimkhada/projects/tree/064015b743e6327a81c954b8511676d483adcf43/work-financial-trends"> GitHub Link</a></p>
                        <p>Deployment: <a href="https://trends-with-react.vercel.app">Project Link</a></p>
                    </li>
                </ul>
            </div>
            <!-- Professional Development -->
            <div>
                <ul>
                    <li>
                        <div>
                            <p>Information Security</p>
                            <p>freeCodeCamp, Issued Aug 2023</p>
                            <p>Gained skills in Node.js and Helmet.</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/information-security-v7"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Data Analysis with Python</p>
                            <p>freeCodeCamp, Issued May 2023</p>
                            <p>Gained skills in Matplotlib, NumPy, Seaborn, and Pandas.</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/data-analysis-with-python-v7"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Relational Database</p>
                            <p>freeCodeCamp, Issued May 2023</p>
                            <p>Gained skills in PostgreSQL, Bash</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/relational-database-v8"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Scientific Computing with Python</p>
                            <p>freeCodeCamp, Issued May 2023</p>
                            <p>Gained skills in Python</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/scientific-computing-with-python-v7"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Quality Assurance</p>
                            <p>ffreeCodeCamp, Issued Apr 2023</p>
                            <p>Gained skills in Passport.js, PugJS, Socket.io, Node.js, Express.js</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/quality-assurance-v7"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>API and Microservices</p>
                            <p>freeCodeCamp, Issued Jun 2021</p>
                            <p>Gained skills in Node.js</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/apis-and-microservices"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Frond End Libraries</p>
                            <p>freeCodeCamp, Issued Jun 2021</p>
                            <p>Gained skills in React.js, Bootstrap, jQuery</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/front-end-libraries"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Data Visualisation</p>
                            <p>freeCodeCamp, Issued May 2021</p>
                            <p>Gained skills in JSON</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/data-visualization"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>JavaScript Algorithms and Data Structures</p>
                            <p>freeCodeCamp, Issued Jan 2021</p>
                            <p>Gained skills in functional programming, object-oriented programming, JavaScript</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/javascript-algorithms-and-data-structures"> Certificate </a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Responsive Web Design</p>
                            <p>freeCodeCamp, Issued May 2020</p>
                            <p>Gained skills in CSS, HTML</p>
                            <p> <a href="https://freecodecamp.org/certification/showansimkhada/responsive-web-design"> Certificate </a></p>
                        </div>
                    </li>
                </ul>
                <p>GitHub links for the assignments: <a href="https://github.com/showansimkhada/freeCodeCamp.git" >GitHub Projects</a></p>
            </div>
            <!-- Interest -->
            <div>
                <p>Passionate about exploring new tools and frameworks for personal and professional growth.</p>
            </div>
        </main>
    </body>
</html>